* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("fundo.png"); /* ou fundo.jpg */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #eaf7ef;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 3rem;
}

.container {
  display: flex;
  padding: 20px;
  gap: 40px;
}

.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.last-number {
  background: #f5fff8;
  color: #0f5132;
  border-radius: 20px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9rem;
  font-weight: bold;
}

.last-five h3 {
  margin: 0 0 10px;
}

.five-boxes {
  display: flex;
  gap: 10px;
}

.five-boxes div {
  width: 60px;
  height: 60px;
  background: #eaf7ef;
  color: #0f5132;
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  font-size: 2rem;
  padding: 8px;
  border-radius: 10px;
  border: none;
}

.bingo-btn {
  margin-top: 10px;
  padding: 15px;
  font-size: 2rem;
  background: #198754;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.bingo-btn:hover {
  background: #146c43;
}

.right {
  width: 70%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.number {
  background: #9fd3b0; /* verde claro */
  color: #0f5132;
  border-radius: 10px;
  font-size: 1.8rem;
  text-align: center;
  padding: 15px 0;
}

.number.sorteado {
  background: #0f5132; /* verde escuro */
  color: #eaf7ef;
}

.grid .last-row {
  grid-column: span 2;
}

.reset-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 0.8rem;
  padding: 6px 10px;
  background: rgba(255,255,255,0.2);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.bingo-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.bingo-text {
  font-size: 8rem;
  color: gold;
  animation: pulse 1s infinite;
}

.hidden {
  display: none;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
